@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");

/* Colors */



/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #EDF1F4;
}

li, a , button {
    font-family: "Montserrat", sans-serif;
}

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #333;
}


/* Navbar Desktop*/

.brand {
    background-color: white;
    padding: 12px;
}

.brand img {
    max-width: 100%;
    min-width: 56px;
    height: auto;
}

nav ul li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__link {
    color: white;
    text-decoration: none;
}

.nav__link:hover {
    color: #5ec868;
    text-decoration: none;
}


.cta {
    text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


button {
    width: 131px;
    height: 52px;
    text-align: center;
    background-color: #FFC406;
    border-radius: 8px;
    outline: inherit;
    color: white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: bold;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-left: 146px;
  margin-right: 146px;
}

.intro-card {
  max-width: 1148px;
  width: 1148px;
  height: 662px;
  padding: 2rem 2rem 0 2rem;
  background-color: white;
  border-radius: 8px;
}

.intro__title {
  position: absolute;
  margin-top: 150px;
  margin-left: 500px;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.intro__avatar {
  position: absolute;
  margin-top: 30px;
  background-image: url(/assets/images/ludovicobesana.png);
  width: 450px;
  height: 450px;
}

.premium {
  position: absolute;
  margin-left: 800px;
  margin-top: 100px;
  height: 16px;
  width: 300px;
}

.premium-icon {
  position: absolute;
  margin-top: 3px;
  height: 16px;
}

.premium-title {
  position: absolute;
  color: #FFC406;
  font-weight: 600;
  font-size: 20px;
  margin-left: 30px;
}

.studyPath {
  width: 430px;
  margin-left: 500px;
  margin-top: 250px;
  height: 55px;
}

.studyPath-badge {
  position: absolute;
  margin-bottom: 15px;
}

.studyPath-title {
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  margin-left: 150px;
  margin-top: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.studyStatus {
  margin-left: 430px;
  margin-top: 30px;
  width: 645px;
  height: 35px;
}

.studyStatus-rank {
  position: absolute;
}

.studyStatus-top {
  position: absolute;
  margin-left: 220px;
}

.studyStatus-time {
  position: absolute;
  margin-left: 420px;
}

.studyContributions {
  margin-left: 600px;
  margin-top: 30px;
  width: 488px;
  height: 175px;
}

.studyContributions-title {
  font-size: 24px;
  font-weight: 400;
}


.studyContributions-health-icon {
  margin-top: 30px;
  position: absolute;
}

.studyContributions-life-icon {
  margin-top: 30px;
  margin-left: 170px;
  position: absolute;
}

.studyContributions-justice-icon {
  margin-top: 30px;
  margin-left: 340px;
  position: absolute;
}


/* About Section */


.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    margin-left: 146px;
    margin-right: 146px;
}

.about-card {
    max-width: 1148px;
    width: 1148px;
    height: 662px;
    padding: 2rem 2rem 0 2rem;
    background-color: white;
    border-radius: 8px;
}

.about__title {
  font-family: "Poppins", sans-serif;
  color: #F0F0F0;
  font-weight: bold;
  font-size: 120px;
  line-height: 190px;
  letter-spacing: -2px;
}  

.about-card .about-card__description {
  word-break: break-word;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-top: 40px;
}

.green {
  color: #5ec868;
}

.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    margin-left: 146px;
    margin-right: 146px;
}

.community-card {
  max-width: 1148px;
  width: 1148px;
  height: 890px;
  padding: 2rem 2rem 0 2rem;
  background-color: white;
  border-radius: 8px;
}

.community__title {
  font-family: "Poppins", sans-serif;
  color: #F0F0F0;
  font-weight: bold;
  font-size: 120px;
  line-height: 150px;
  letter-spacing: -2px;
}

.community__subtitle {
  font-family: "Space Grotesk", sans-serif;
  color: #1BD560;
  margin-left: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0px;
}

.community__photo {
  max-width: 255px;
  max-height: 255px;  
  width: 255px;
  height: 255px;
  color: white;
  border: 3px solid #5EC868
}

div .community_photos {
  display: grid;
  justify-content: center;
  margin: 65px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 50px;
}

.community__photo:nth-child(1) div {
  background-image: url(/assets/images/photo-1.png);
  width: 250px;
  height: 250px;
}

.community__photo:nth-child(2) div {
  background-image: url(/assets/images/photo-2.png);
  width: 250px;
  height: 250px;
}

.community__photo:nth-child(3) div {
  background-image: url(/assets/images/photo-3.png);
  width: 250px;
  height: 250px;
}

.community__photo:nth-child(4) div {
  background-image: url(/assets/images/photo-4.png);
  width: 250px;
  height: 250px;
}

.community__photo:nth-child(5) div {
  background-image: url(/assets/images/photo-5.png);
  width: 250px;
  height: 250px;
}

.community__photo:nth-child(6) div {
  background-image: url(/assets/images/photo-6.png);
  width: 250px;
  height: 250px;
}


.path {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-left: 146px;
  margin-right: 146px;
}

.path-card {
  max-width: 1148px;
  width: 1148px;
  /* height: 990px; */
  padding: 2rem 2rem 0 2rem;
  background-color: white;
  border-radius: 8px;
}

.path__title {
  font-family: "Poppins", sans-serif;
  color: #F0F0F0;
  font-weight: bold;
  font-size: 120px;
  line-height: 150px;
  letter-spacing: -2px;
}

.path__subtitle {
  font-family: "Space Grotesk", sans-serif;
  color: #1BD560;
  margin-left: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0px;
}

.path-card__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 22px;
  letter-spacing: 0px;
  margin-top: 60px;
  margin-left: 10px;
}

.path__progress {
  margin-right: 100px;
  margin-left: 70px;
  margin-bottom: 150px;
}

.path-card__progress  {
  margin-top: 130px;
  border-radius: 3px; 
  width: 770px;
  height: 3px;
  margin-left: 30px;
}

progress[value]::-webkit-progress-bar {
  box-shadow: 0 2px 5px #EDF1F4 inset;
}

progress[value]::-webkit-progress-value {
  background-color: #5EC868;
}

.path-card__progress-icon:nth-child(1) div {
  position: absolute;
  margin-top: 90px;
  margin-left: 15px;
  background-image: url(/assets/images/level-1.png);
  width: 77px;
  height: 81px;
}

.path-card__progress-icon:nth-child(2) div {
  position: absolute;
  margin-top: 90px;
  margin-left: 270px;
  background-image: url(/assets/images/level-2.png);
  width: 77px;
  height: 81px;
}

.path-card__progress-icon:nth-child(3) div {
  position: absolute;
  margin-top: 95px;
  margin-left: 500px;
  background-image: url(/assets/images/level-3.png);
  width: 77px;
  height: 81px;
}

.path-card__progress-icon:nth-child(4) div {
  position: absolute;
  margin-top: 95px;
  margin-left: 750px;
  background-image: url(/assets/images/level-4.png);
  width: 77px;
  height: 81px;
}

.path-card__level1-label {
  position: absolute;
  margin-top: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0px;
}

.path-card__level2-label {
  position: absolute;
  margin-top: 200px;
  margin-left: 220px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0px;
}

.path-card__level3-label {
  position: absolute;
  margin-top: 200px;
  margin-left: 480px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0px;
}

.path-card__level4-label {
  position: absolute;
  margin-top: 200px;
  margin-left: 720px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-left: 146px;
  margin-right: 146px;
}


.portfolio-card {
  max-width: 1148px;
  width: 1148px;
  /* height: 990px; */
  height: auto;
  padding: 2rem 2rem 0 2rem;
  background-color: white;
  border-radius: 8px;
}

.portfolio__title {
  font-family: "Poppins", sans-serif;
  color: #F0F0F0;
  font-weight: bold;
  font-size: 120px;
  line-height: 150px;
  letter-spacing: -2px;
}

.portfolio__subtitle {
  font-family: "Space Grotesk", sans-serif;
  color: #1BD560;
  margin-left: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0px;
}

.portfolio__filter-tag {
  color: #EDF1F4;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: -2px;
}

.portfolio__filter-tag:hover {
  color: #5EC868;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: -2px;
}

.portfolio__filters {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 30px;
  flex-wrap: wrap;
  max-width: 90%;
}

.portfolio__filters a {
  text-decoration: none;
}

.current div {
    text-decoration: none;
    color: #5EC868;
    font-weight: bold;
}
    
    
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-left: 146px;
  margin-right: 146px;
}

.skills-card {
  max-width: 1148px;
  width: 1148px;
  /* height: 990px; */
  height: auto;
  padding: 2rem 2rem 0 2rem;
  background-color: white;
  border-radius: 8px;
}   

.skill-card__RedCircle {
  position: relative;
  margin: 40%;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #EE595E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.skills__title {
  font-family: "Poppins", sans-serif;
  color: #F0F0F0;
  font-weight: bold;
  font-size: 120px;
  line-height: 150px;
  letter-spacing: -2px;
} 

footer {
  margin-top: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
  background-color: #333;
}

.footer__logo img {
  width: 71px;
  height: 71px;
  margin: 10px;
}
  
.footer__title {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

footer > .footer__socials {
  margin-left: auto;
  margin-right: 50px;
}

.footer__linkedin img {
  width: 30px;
  height: 30px;
}

.portfolio__projects {
  margin-top: 140px;
  margin-left: 50px;
  margin-bottom: 140px;
  display: grid;
  justify-content: center;
  margin: 65px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 50px;
}

.project-card {
  background-color: white;
  max-width: 250px;
  width: 250px;
  height: 190px;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mindset-strip {
  background-color: #FFC406;
  max-width: 250px;
  width: 250px;
  height: 8px;
  border-radius: 8px 8px 0 0;
}

.mindset-thumbnail {
  position: absolute;
  margin-top: 8px;
  max-width: 250px;
  width: 250px;
  height: 150px;
  background-image: url(/assets/images/finanza-personale.jpg);
  background-repeat: no-repeat;
}

.project-card-title {
  position: absolute;
  max-width: 160px;
  width: 160px;
  height: 40px;
  margin-left: 30px;
  margin-top: 110px;
  color: white;
  font-size: 14px;
  letter-spacing: 0px;
}

.mindset-color {
  color: #FFC406;
}

.project-card-link {
  position: absolute;
  max-width: 160px;
  width: 160px;
  height: 17px;
  margin-left: 18px;
  margin-top: 165px;
  color: white;
  font-size: 8px;
  letter-spacing: 0px;
}

.project-card-link a {
  text-decoration: none;
  color: black;
}

.project-card-link-icon {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.marketing-strip {
  background-color: #FE841F;
  max-width: 250px;
  width: 250px;
  height: 8px;
  border-radius: 8px 8px 0 0;
}

.marketing-color {
  color: #FE841F;
}

.marketing-thumbnail {
  position: absolute;
  margin-top: 8px;
  max-width: 250px;
  width: 250px;
  height: 150px;
  background-image: url(/assets/images/finanza-personale.jpg);
  background-repeat: no-repeat;
}

.sviluppo-strip {
  background-color: #3CA6FF;
  max-width: 250px;
  width: 250px;
  height: 8px;
  border-radius: 8px 8px 0 0;
}

.sviluppo-color {
  color: #3CA6FF;
}

.sviluppo-thumbnail {
  position: absolute;
  margin-top: 8px;
  max-width: 250px;
  width: 250px;
  height: 150px;
  background-image: url(/assets/images/finanza-personale.jpg);
  background-repeat: no-repeat;
}

.ux-ui-strip {
  background-color: #79C23E;
  max-width: 250px;
  width: 250px;
  height: 8px;
  border-radius: 8px 8px 0 0;
}

.ux-ui-color {
  color: #79C23E;
}

.ux-ui-thumbnail {
  position: absolute;
  margin-top: 8px;
  max-width: 250px;
  width: 250px;
  height: 150px;
  background-image: url(/assets/images/finanza-personale.jpg);
  background-repeat: no-repeat;
}

.blockchain-strip {
  background-color: #F61958;
  max-width: 250px;
  width: 250px;
  height: 8px;
  border-radius: 8px 8px 0 0;
}

.blockchain-color {
  color: #F61958;
}

.blockchain-thumbnail {
  position: absolute;
  margin-top: 8px;
  max-width: 250px;
  width: 250px;
  height: 150px;
  background-image: url(/assets/images/finanza-personale.jpg);
  background-repeat: no-repeat;
}

.data-science-strip {
  background-color: #32B7BC;
  max-width: 250px;
  width: 250px;
  height: 8px;
  border-radius: 8px 8px 0 0;
}

.data-science-color {
  color: #32B7BC;
}

.data-science-thumbnail {
  position: absolute;
  margin-top: 8px;
  max-width: 250px;
  width: 250px;
  height: 150px;
  background-image: url(/assets/images/finanza-personale.jpg);
  background-repeat: no-repeat;
}

.startup-strip {
  background-color: #9966FF;
  max-width: 250px;
  width: 250px;
  height: 8px;
  border-radius: 8px 8px 0 0;
}

.startup-color {
  color: #9966FF;
}

.startup-thumbnail {
  position: absolute;
  margin-top: 8px;
  max-width: 250px;
  width: 250px;
  height: 150px;
  background-image: url(/assets/images/finanza-personale.jpg);
  background-repeat: no-repeat;
}

.portfolio__filters {
  cursor: pointer;
}

.itembox.hide {
  display: none;
}

.premium-icon img {
  width: 16.47px;
  height: 16px;
}

.studyPath-badge img {
  width: 51.77px;
  height: 53px;
}

.studyContributions-health-icon img {
  width: 123.55px;
  height: 120px;
}

.studyContributions-life-icon img {
  width: 123.55px;
  height: 120px;
}

.studyContributions-justice-icon img {
  width: 123.55px;
  height: 120px;
}


/* Skills Section */


.skills__sectionTitle {
  width: 230px;
  margin-bottom: 100px;
}

.skills__sectionTitleText {
  position: absolute;
  font-size: 36px;
  font-weight: 500;
}

.skills_sectionTitleInfo {
  position: absolute;
  margin-left: 200px;
  margin-top: 10px;
  cursor: help;
}

.skills_sectionTitleInfoLanguage {
  position: absolute;
  margin-left: 150px;
  margin-top: 10px;
  cursor: help;
}

.skill-card {
  width: 244px;
  height: 137px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;  
}


/* Bootstrap Popover */

.popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width:276px;padding:1px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);line-break:auto}.popover.top{margin-top:-10px}.popover.right{margin-left:10px}.popover.bottom{margin-top:10px}.popover.left{margin-left:-10px}.popover-title{padding:8px 14px;margin:0;font-size:14px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}.popover-content{padding:9px 14px}.popover>.arrow,.popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}.popover>.arrow{border-width:11px}.popover>.arrow:after{content:"";border-width:10px}.popover.top>.arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,.25);border-bottom-width:0}.popover.top>.arrow:after{bottom:1px;margin-left:-10px;content:" ";border-top-color:#fff;border-bottom-width:0}.popover.right>.arrow{top:50%;left:-11px;margin-top:-11px;border-right-color:#999;border-right-color:rgba(0,0,0,.25);border-left-width:0}.popover.right>.arrow:after{bottom:-10px;left:1px;content:" ";border-right-color:#fff;border-left-width:0}.popover.bottom>.arrow{top:-11px;left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.25)}.popover.bottom>.arrow:after{top:1px;margin-left:-10px;content:" ";border-top-width:0;border-bottom-color:#fff}.popover.left>.arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,.25)}.popover.left>.arrow:after{right:1px;bottom:-10px;content:" ";border-right-width:0;border-left-color:#fff}




